
Sponsor/ASP.NET Code/WebApplication1/.vs/ProjectEvaluation/webapplication1.metadata.v5.1
Sponsor/ASP.NET Code/WebApplication1/.vs/ProjectEvaluation/webapplication1.projects.v5.1
Sponsor/ASP.NET Code/WebApplication1/.vs/slnx.sqlite
Sponsor/ASP.NET Code/WebApplication1/.vs/VSWorkspaceState.json
Sponsor/ASP.NET Code/WebApplication1/.vs/WebApplication1/DesignTimeBuild/.dtbcache.v2
Sponsor/ASP.NET Code/WebApplication1/.vs/WebApplication1/FileContentIndex/14bcc5f3-dad9-4130-9e4c-38d1b13d12d9.vsidx
Sponsor/ASP.NET Code/WebApplication1/.vs/WebApplication1/FileContentIndex/b5d4b441-f091-44ac-9a50-07ac5ddbabb5.vsidx
Sponsor/ASP.NET Code/WebApplication1/.vs/WebApplication1/FileContentIndex/d17ebd81-d8a1-407a-a4bd-f599d3e2d9d0.vsidx
Sponsor/ASP.NET Code/WebApplication1/.vs/WebApplication1/FileContentIndex/d2a2a5b0-e70e-4ac8-96af-37ab2f5d461c.vsidx
Sponsor/ASP.NET Code/WebApplication1/.vs/WebApplication1/v17/.futdcache.v2
Sponsor/ASP.NET Code/WebApplication1/.vs/WebApplication1/v17/.suo
Sponsor/ASP.NET Code/WebApplication1/Web.config
Sponsor/ASP.NET Code/WebApplication1/WebApplication1/DTO/FakeData.cs
Sponsor/ASP.NET Code/WebApplication1/WebApplication1/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Sponsor/ASP.NET Code/WebApplication1/WebApplication1/obj/Release/net5.0/To-Do Widget.AssemblyInfo.cs
Sponsor/ASP.NET Code/WebApplication1/WebApplication1/obj/Release/net5.0/To-Do Widget.AssemblyInfoInputs.cache
Sponsor/ASP.NET Code/WebApplication1/WebApplication1/obj/Release/net5.0/To-Do Widget.assets.cache
Sponsor/ASP.NET Code/WebApplication1/WebApplication1/obj/Release/net5.0/To-Do Widget.csproj.AssemblyReference.cache
Sponsor/ASP.NET Code/WebApplication1/WebApplication1/obj/Release/net5.0/To-Do Widget.GeneratedMSBuildEditorConfig.editorconfig
Sponsor/Meeting Notes/Back-End-Meeting.docx
